.top_header {
    background: var(--primary-color);
    padding: 7px 0;
    border-bottom: 1px solid rgb(242 242 242 / 20%);
}

.top_header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_contact ul li a i{
    color: var(--main-color);
    margin-right: 3px;
    font-size: 14px;
}

.top_header_list ul li a,
.header_contact ul li a{
    font-size: 13px;
    color: rgb(214 214 214 / 60%);
    font-weight: 300;
}

/* logo */
.main_header{
    background: var(--primary-color);
    padding: 10px 0;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
}

.logo{
    width: 100px;
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_search{
    flex: 1;
}

.header_search_form {
    height: 34px;
    width: 100%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.header_search_form .input_control{
    width: calc(100% - 50px);
}

.search_btn {
    height: 100%;
    width: 50px;
    border: none;
    background: var(--main-color);
    color: var(--global-color);
    position: absolute;
    top: 0px;
    right: 0px;
    display: grid;
    place-content: center;
}

.header_right_wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_block_icon {
    font-size: 20px;
    color: var(--main-color);
    opacity: .85;
}

.header_block_icon i {
    font-weight: 500;
}

.header_block_content p {
    font-size: 14px;
    color: var(--global-color);
    font-weight: 500;
    line-height: 14px;
}

.header_block_content span,
.header_block_content a {
    font-size: 12px;
    color: rgb(214 214 214 / 60%);
    display: block;
    font-weight: 300;
}

.banner_section{
    display: block !important;
}

.banner_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
    position: relative;
}

.banner_slider_content{
    width: 100%;
    position: relative;
}

.banner_section .slick-list.draggable{
    height: 100%;
}

.banner_section .slick-track{
    height: 100%;
}

.banner_section .bannerslider_arrow {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_section .slick-prev,
.banner_section .slick-next {
    height: 50px;
    width: 24px;
    border-radius: 0px 5px 5px 0px;
    background: transparent;
}

.banner_section .slick-next{
    border-radius: 5px 0px 0px 5px;
}

.banner_section .slick-prev::after,
.banner_section .slick-next::after {
    color: var(--global-color);
    background: rgb(250 250 250 / 40%);
    border: none;
    border-radius: 0px;
}

.banner_slider {
    border-radius: 12px;
    overflow: hidden;
    min-height: 160px;
}


.banner_category {
    width: 238px;
    min-height: 344px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    background-color: #fff;
    z-index: 200;
    border-radius: 12px;
    display: none;
}

.category{
    height: 100%;
    overflow-y: auto;
}

.category::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .category::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .category::-webkit-scrollbar-thumb {
    background: rgb(1 71 155 / 10%); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .category::-webkit-scrollbar-thumb:hover {
    background: rgb(1 71 155 / 40%); 
  }

.category_list {
    padding: 10px 0 12px;
    height: 100%;
    max-height: 374px;
    overflow-y: auto;
}

.sub_category {
    height: 100%;
    position: absolute;
    width: 238px;
    left: 238px;
    top: 0px;
    background: #fff;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0))!important;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    display: none;
}

.sub_category_content {
    padding: 10px 0 12px;
    height: 100%;
}

.category_item:hover .sub_category{
    display: block;
}

.category_item:hover .category_link {
    background: rgb(189 0 0 / 10%);
}

.sub_category_item{
    padding: 3px 0px;
    border-radius: 6px;
}

.sub_category_link {
    color: rgb(15 23 42 / 55%);
    cursor: pointer;
    font-weight: 400;
    padding: 0px 10px;
    display: block;
    font-size: 14px;
}

.nested_category {
    position: absolute;
    left: 100%;
    height: 101%;
    min-width: 100%;
    background: #fff;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0))!important;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    display: none;
}

.sub_category_item:hover .nested_category{
    display: block;
}

.sub_category_item:hover{
    background: rgb(189 0 0 / 10%);
}

.nested_category_title {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 20px;
}

.nested_category_list {
    display: grid;
    gap: 24px 16px;
    grid-template-columns: repeat(5, 1fr);
}

.nested_category_item {
    width: 82px;
}

.nested_category_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nested_category_image{
    height: 48px;
    width: 48px;
    
}

.nested_category_image img {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid rgb(189 0 0 / 10%);
    border-radius: 50%;
}

.nested_category_name {
    font-size: 12px;
    color: var(--color);
    text-align: center;
    max-width: 100px;
    line-height: 13px;
    margin-top: 6px;
}

.category_link {
    padding-left: 8px;
    line-height: 27px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
}

.category_text {
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    line-height: 27px;
    color: rgb(15 23 42 / 55%);
    cursor: pointer;
    font-weight: 400;
}

.category_image {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: rgb(4 24 38 / 10%);
    display: grid;
    place-content: center;
}

.category_image img{
    width: 16px;
}

/* benifits section */

.benifit_section{
    margin-bottom: 30px;
}

/* .benifit_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--bg-color);
    box-shadow: 0px 5px 30px rgb(0 0 0 / 20%);
    border-radius: 6px;
    padding: 15px 20px;
} */

.benifit_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

/* .benifit_item {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
} */

.benifit_item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    background: var(--global-color);
    border-radius: 12px;
    padding: 15px 20px;
}

.benifit_text {
    font-size: 17px;
    color: var(--primary-color);
    font-weight: 700; 
}

.benifit_icon {
    height: 40px;
    width: 40px;
    background: var(--main-color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: #ffffff;
    font-size: 17px;
}

/* best_deals_wrapper */

.best_deals_mainwrapper{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.best_deals_block {
    width: 100%;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    background: var(--global-color);
}

.best_deals_image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-position: center center;
    z-index: 1;
    border-radius: 12px;
    overflow: hidden;
}

.best_deals_image img{
    height: 100%;
}

.best_deals_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.best_deals_content h3 {
    font-size: 22px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 6px;
    background-image: -webkit-linear-gradient(82deg,#bd0000 0,#fdd800 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.best_deals_content p {
    font-size: 1em;
    color: var(--global-color);
    margin-bottom: 10px;
    font-weight: 300;
    width: 100%;
    text-shadow: 2px 3px 2px rgb(4 24 38 / 50%);
}

.shop_btn {
    color: var(--global-color);
    font-size: 14px;
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 20px;
    background: var(--main-color);
    display: inline-block;
    max-width: 120px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.best_deals_title {
    font-size: 16px;
    font-weight: 900;
    color: var(--primary-color);
}

.best_deals_link {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    gap: 4px;
}

.best_deals_link span i{
    font-size: 11px;
    line-height: 11px;
    font-weight: 600;
}

.best_deals_wrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.best_deals_product{
    width: calc(100% / 3 - 8px);
    position: relative;
}

.best_dealsproduct_wrapper{
    transform: translate(0,0);
    transition: transform .2s;
}

.best_deals_product:hover .best_dealsproduct_wrapper {
    position: absolute;
    transform: translate(-15%,-10%);
    width: 200px;
    box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
    background: var(--global-color);
    z-index: 1024;
    border-radius: 12px;
}

.deals_product_thumb{
    cursor: pointer;
}

.deals_product_info {
    padding: 0 20px 15px;
    display: none;
}

.best_deals_product:hover .deals_product_info{
    display: block;
}

.deals_product_name {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-decoration: none;
    overflow: hidden;
    -webkit-line-clamp: 2;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.deals_product_price {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 5px;
}

.groceries_category{
    width: calc(100% / 3 - 8px);
    text-align: center;
}

.groceries_category_image {
    width: 80px;
    margin: 0px auto;
    height: 70px;
}

.groceries_category_image img {
    height: 100%;
    object-fit: contain;
}

.groceries_category_name {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary-color);
}

.section_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background: var(--global-color);
    border-radius: 12px;
    flex-wrap: wrap;
    gap: 16px;
}

.count_wrapper ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.count_wrapper ul li {
    height: 27px;
    width: 30px;
    position: relative;
    display: grid;
    place-content: center;
}

.count_wrapper ul li::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    transform: rotate(45deg);
}

.count_wrapper ul li span{
    color: var(--primary-color);
    font-size: 14px;
    line-height: 20px;
}


.flashsale_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.flash_product {
    background: var(--global-color);
    box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
    border-radius: 6px;
    grid-column: span 2;
}

.flash_banner {
    grid-column: span 2;
    grid-row: span 1;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.flash_banner .flash_product_thumb {
    max-width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.flash_banner .flash_product_thumb img {
    object-fit: cover;
}

.flash_product_thumb {
    position: relative;
    max-width: 120px;
    width: 100%;
    margin: 0 auto;
    transition: var(--transition);
    transform: scale(1) translate(0, 0);
    padding: 10px 0;
}

.flash_sale .flash_product:hover .flash_product_thumb {
    transform: scale(1.2) translate(-10%, 2%);
}

.flash_product_thumb img {
    min-height: 130px;
    height: 100%;
}

.flash_product_content {
    padding: 10px 15px;
}

.product_rating {
    margin-bottom: 6px;
}

.product_rating ul{
    display: flex;
    align-items: center;
    gap: 3px;
}

.product_rating ul li span i {
    color: #ffa20f;
    font-weight: 600;
    font-size: 14px;
}

.product_title a,
.product_deals_title{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-decoration: none;
    overflow: hidden;
    -webkit-line-clamp: 2;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    transition: var(--transition);
}

.flash_product:hover .product_title a{
    color: var(--main-color);
    text-decoration: underline;
}

.product_price_inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 12px;
    margin-bottom: 6px;
}

.offer_price {
    font-size: 18px;
    display: flex;
    font-weight: 600;
    color: var(--text-color);
    align-items: center;
}

.offer_price .currency{
    font-weight: 400;
}

.old_price {
    color: var(--main-color);
    display: flex;
    gap: 2px;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 500;
}

.flash_save {
    background: var(--main-color);
    color: var(--global-color);
    font-size: 14px;
    line-height: 20px;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 10px 0px;
}

.product_shipping {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 800;
    color: var(--primary-color);
}

.view_btn {
    margin-top: 40px;
    text-align: center;
}

.view_btn a {
    padding: 8px 25px;
    display: inline-block;
    color: var(--global-color);
    text-transform: uppercase;
    font-size: 14px;
    background: var(--main-color);
    border-radius: 20px;
    font-weight: 500;
}

.categories_slider_content{
    padding: 15px 20px;
    border-radius: 12px;
    background: var(--global-color);
}

.category_slider_image img,
.top_brand_image img {
    height: 110px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    margin: 0px auto;
}

.category_slider_name,
.brand_item_name {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
}

.category_arrow ,
.brand_sliderarrow{
    display: flex;
    gap: 16px;
}

.category_arrow .slick-prev,
.category_arrow .slick-next,
.brand_sliderarrow .slick-prev,
.brand_sliderarrow .slick-next {
    height: 26px;
    width: 26px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    transform: rotate(45deg);
    background: transparent;
}

.category_arrow .slick-prev::after,
.category_arrow .slick-next::after,
.brand_sliderarrow .slick-prev::after,
.brand_sliderarrow .slick-next::after{
    transform: rotate(-45deg);
    border-radius: 5px;
}

.product_section_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    background: var(--global-color);
    padding: 20px;
    border-radius: 12px;
}

.product_section_wrapper .flash_product {
    width: 100%;
    background: transparent;
    box-shadow: unset;
    border: 1px solid #e7e7e7;
    overflow: hidden;
}

.product_section_wrapper .flash_product_thumb img {
    min-height: 185px;
    height: 100%;
    max-height: 185px;
    object-fit: contain;
}

.product_section_wrapper .flash_product_thumb {
    max-width: 100%;
    background: var(--global-color);
    padding: 0;
}

.product_shipping b{
    margin-left: 5px;
}

.product_shipping span{
    font-weight: 400;
}

.top_brand_slider {
    margin: 0px -6px;
}

.top_brand_item {
    padding: 15px;
    background: var(--global-color);
    border-radius: 12px;
    margin: 0px 6px;
}

.super_deals_main{
    padding: 20px;
    border-radius: 12px;
    background: var(--primary-color);
}

.super_deals_main .section_title_wrapper {
    background: var(--primary-color);
    border-bottom: 1px solid rgb(250 250 250 / 10%);
}

.super_deals_main .section_heading{
    color: var(--global-color);
}

.hot_deals_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.hot_deals_product {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgb(242 242 242 / 20%);
}

.deals_product_image img{
    min-height: 184px;
    max-height: 184px;
}

.product_deals_content {
    padding: 15px;
}

.product_deals_content .offer_price{
    color: var(--global-color);
}

.product_deals_content  .product_deals_title{
    color: rgb(214 214 214 / 90%);
}

.deals_view_more{
    position: relative;
}

.deals_view_more a {
    padding: 6px 15px;
    color: var(--primary-color);
    background: var(--global-color);
    display: inline-block;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.best_seller_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.saller_item {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid rgb(4 24 38 / 20%);
    width: 100%;
}

.saller_thumb{
    height: 150px;
    position: relative;
}

.saller_thumb_image{
    height: 100%;
}

.saller_thumb_image img{
    height: 100%;
}

.saller_name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 20px;
    text-align: center;
    background: rgb(4 24 38 / 90%);
    width: 100%;
}

.saller_name a{
    color: rgb(255 255 255 / 70%);
    font-size: 17px;
    font-weight: 500;
}

.saller_item_content {
    padding: 10px 15px;
}

.saller_item_content .product_rating ul{
    justify-content: center;
}

.view_shop a {
    padding: 6px 20px;
    width: 100%;
    background: rgb(189 0 0 / 4%);
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-color);
    border-radius: 6px;
    border: 1px solid rgb(189 0 0 / 20%);
}

.best_seller_content{
    padding: 20px;
    border-radius: 12px;
    background: var(--global-color);
}

.video_section_content {
    padding: 20px;
    border-radius: 12px;
    background: var(--primary-color);
}

.cls__trending_wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}


.cls__trending_item {
    position: relative;
    max-height: 274px;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid rgba(242, 242, 242, 0.1);
}

.cls__trending_item_image {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.cls__trending_item_content {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: calc(100% - 20px);
    text-align: center;
    transform: translateX(-50%);
    background: rgb(189 0 0 / 50%);
    border-radius: 0px 0px 7px 7px;
}

.cls__trending_item_name {
    color: var(--global-color);
    font-size: 16px;
    font-weight: 400;
    padding: 3px 10px;
}

.video_section_content .section_title_wrapper{
    background: var(--primary-color);
    border-bottom: 1px solid rgb(250 250 250 / 10%);
}

.video_section_content .section_heading{
    color: var(--global-color);
}

.footer_section {
    background: var(--primary-color);
    position: relative;
}

.footer_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.footer_column {
    width: 100%;
}

.footer_column:where(:first-child, :last-child) {
    width: 100%;
}

.footer_logo {
    width: 120px;
    margin-bottom: 25px;
}

.footer_logo_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adress_text {
    font-size: 14px;
    color: rgb(126 136 143);
    font-weight: 400;
    margin-bottom: 15px;
    display: inline-block;
    max-width: 300px;
    width: 100%;
}

.footer_info_inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_info_link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: rgb(126 136 143);
    transition: var(--transition);
}

.footer_info_link:hover{
    color: var(--main-color);
}

.socket {
    background: var(--primary-color);
}

.socket_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    border-top: 1px solid rgb(242 242 242 / 10%);
    padding: 15px 0px;
}

.social ul{
    display: flex;
    align-items: center;
    gap: 8px;
}

.social ul li a {
    height: 24px;
    width: 24px;
    display: grid;
    place-content: center;
    color: var(--main-color);
    border-radius: 3px;
    background: var(--global-color);
    font-size: 14px;
}

.footer_nav_title {
    margin-bottom: 18px;
    color: var(--global-color);
    font-size: 20px;
    font-weight: 500;
}

.footer_nav ul{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer_nav ul li a,
.footer_app_title {
    display: inline-block;
    color: rgb(126 136 143);
    font-size: 14px;
    transition: var(--transition);
}

.footer_nav ul li a:hover{
    color: var(--main-color);
}

.footer_app_title{
    margin-bottom: 15px;
}

.footer_app_wrapper{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.footer_app_image {
    max-width: 124px;
    width: 100%;
}

.payment_footer {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.copy_right_text{
    display: inline-block;
    color: rgb(126 136 143);
    font-size: 14px;
}

.copy_right_text a{
    color: var(--global-color);
}

.footer_note_block {
    margin-bottom: 15px;
}

.footer_note_title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.footer_noteblock_title {
    margin-bottom: 5px;
    color: var(--color);
    font-size: 13px;
    font-weight: 600;
}

.footer_note_text {
    font-size: 13px;
    color: var(--color);
}

.footer_note_link_wrapper {
    line-height: 1.2;
}

.footer_note_link_wrapper a{
    font-size: 13px;
    color: var(--color);
    display: inline-block;
    transition: var(--transition);
}

.footer_note_link_wrapper a:hover{
    color: var(--main-color);
    text-decoration: underline;
}