/* 400 */ 
@media(min-width: 400px){
    .cls__trending_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .cls__trending_item:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
}

/* 576 */ 
@media(min-width: 576px){}

/* 768 */
@media(min-width: 767px){
    .cls__trending_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 1024 */
@media(min-width: 992px){
    
}

/* 1240 */
@media(min-width: 1200px){
    
}