/* 400 */ 
@media(min-width: 400px){
    .cls__trending_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .cls__trending_item:nth-child(3) {
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .wishlist_product_wrapper .flash_product {
        width: calc(100% / 2 - 8px);
    }
}

/* 576 */ 
@media(min-width: 576px){
    .header_wrapper{
        align-items: center;
        flex-direction: row;
        gap: 24px;
    }

    .benifit_item {
        width: calc(50% - 6px);
    }

    .flash_product {
        grid-column: span 1;
    }

    .hot_deals_product {
        width: calc(100% / 2 - 8px);
    }

    .product_section_wrapper .flash_product {
        width: calc(50% - 8px);
    }

    .footer_column {
        width: calc(50% - 12px);
    }

    .dp_offer_price {
        font-size: 36px;
    }

    .dp_price_currency {
        font-size: 18px;
    }    

    .dp_old_price {
        font-size: 14px;
    }

    .similer_shop_product_wrapper .flash_product {
        width: calc(100% / 2 - 6px);
    }

    
    .review_item_wrapper {
        flex-direction: row;
    }

    .review_item_right{
        width: calc(100% - 62px);
    }

    .dashboard_info_wrapper{
        padding: 20px;
    }

        
    .dashboard_info_item {
        padding: 20px;
    }

    .dashboar_info_title {
        font-size: 18px;
    }

    
    .wishlist_product_wrapper .flash_product {
        width: calc(100% / 3 - 11px);
    }

    .user_address_item {
        width: calc(100% / 2 - 8px);
    }

    .walet_amount {
        font-size: 42px;
        line-height: 42px;
    }
}

/* 768 */
@media(min-width: 768px){
    
    .cls__trending_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .logo {
        width: 130px;
    }

    .header_search_form {
        height: 40px;
        border-radius: 20px;
    }

    .section_padding{
        padding: 30px 0px;
    }

    .main_header{
        padding: 15px 0;
    }

    .best_deals_block:not(:first-child) {
        width: calc(50% - 12px);
    }

    .cls__trending_item:not(:nth-child(3)) {
        max-height: 274px;
    }
    
    .cls__trending_item {
        max-height: 564px;
    }

    .flashsale_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .flash_banner {
        grid-column: span 2;
        grid-row: span 2;
    }

    .flash_banner .flash_product_thumb img {
        object-fit: fill;
    }

    .section_heading {
        font-size: 16px;
    }

    .category_arrow .slick-prev,
    .category_arrow .slick-next,
    .brand_sliderarrow .slick-prev,
    .brand_sliderarrow .slick-next {
        height: 30px;
        width: 30px;
    }

    .count_wrapper ul li {
        height: 27px;
        width: 30px;
    }

    .hot_deals_product {
        width: calc(100% / 3 - 11px);
    }

    .product_section_wrapper .flash_product {
        width: calc(33.33% - 11px);
    }

    .saller_item {
        width: calc(100% / 2 - 12px);
    }

    .best_deals_product:hover .best_dealsproduct_wrapper {
        transform: translate(-30%,-10%);
        width: 240px;
    }

    .footer_column {
        width: calc(20% - 16px);
    }
    
    .footer_column:where(:first-child, :last-child) {
        width: calc(30% - 20px);
    }

    .pdf_left_wrapper {
        flex-direction: revert;
    }

    .product_slide{
        width: 40%;
    }
    
    .product_details_content{
        width: 60%;
    }

    .review_count {
        width: 45%;
    }
    
    .reveiw_live {
        width: calc(100% - 45% + 50px);
    }

    .revie_live_divide{
        height: 100px;
        width: 1px;
    }

    .review_info_wrapper {
        flex-direction: row;
    }

    .review_image{
        width: calc(100% / 4 - 9px);
    }

    .dashbard_sidemap_item{
        width: calc(100% / 4 - 18px);
    }

    .dashboard_info_wrapper{
        gap: 24px;
    }

    .dashbard_sidemap_wrapper, .walet_top_wrapper {
        gap: 24px;
    }

    .dashboard_info_item{
        width: calc(100% / 2 - 12px);
    }

    .walet_top_balance {
        width: calc(100% - 324px);
    }    

    .walet_add_button {
        width: 300px;
    }

    
    .wishlist_product_wrapper .flash_product {
        width: calc(100% / 4 - 12px);
    }

    .user_address_item {
        width: calc(100% / 3 - 11px);
    }

    .coupon_item {
        width: calc(50% - 8px);
    } 
}

/* 992 */
@media(min-width: 992px){
    .banner_category{
        display: block;
    }

    .banner_slider_content {
        width: calc(100% - 254px);
    }
    .benifit_wrapper{
        gap: 24px;
    }

    .benifit_item {
        width: calc(25% - 18px);
    }

    .best_deals_block {
        width: calc(33.33% - 16px);
    }

    .best_deals_block:not(:first-child){
        width: calc(33.33% - 16px);
    }

    .flashsale_wrapper{
        grid-template-columns: repeat(5, 1fr);
    }

    .hot_deals_product {
        width: calc(100% / 4 - 12px);
    }
 
    .product_section_wrapper .flash_product {
        width: calc(25% - 12px);
    }

    .saller_item {
        width: calc(100% / 4 - 18px);
    }

    .nested_category_item {
        width: 82px;
    }

    .pdf_left,
    .product_addition {
        width: calc(100% - 370px);
    }

    .pdf_right,
    .similer_shop_product {
        width: 350px;
    }

    .review_image{
        width: calc(100% / 5 - 10px);
    }    

    .collapse_btn {
        display: none;
    }

    .user_address_item {
        width: calc(100% / 2 - 8px);
    }
}

/* 1240 */
@media(min-width: 1200px){
    .hot_deals_product {
        width: calc(100% / 6 - 14px);
    }

    .product_section_wrapper .flash_product {
        width: calc(20% - 13px);
    }

    .nested_category_item {
        width: 121px;
    }

    .dashboard_info_item {
        width: calc(100% / 4 - 18px);
    }

    .wishlist_product_wrapper .flash_product {
        width: calc(100% / 5 - 13px);
    }

    .user_address_item {
        width: calc(100% / 3 - 11px);
    }
}

/* 1400 */
@media(min-width: 1400px){
    .nested_category_item {
        width: 137px;   
    }
}